Z.top-header {
    padding: 10px 0;
    background-color: $second-light-color;

    .leftWriteBox,
    .rightWriteBox {
        width: 50%;
    }

    .rightWriteBox {
        display: flex;
        justify-content: flex-end;
    }

    nav {
        display: flex;
        gap: 15px;

    }

    nav a {
        display: flex;
        align-items: center;
        gap: 7px;
        color: $main-color;
        transition: 0.2s;

        span {
            color: $white;
            transition: 0.2s;
        }

        &:hover span {
            color: $main-color;
        }
    }
}

.header {
    background-color: $second-color;
    padding: 15px 0;

    .logo {
        width: 30%;
    }

    .searchBox {
        width: 40%;
        display: flex;
        height: 40px;
    }

    .search {
        width: 191px;
        padding: 0 15px;
    }

    select {
        border-radius: 40px 0px 0px 40px;
        width: 151px;
        padding: 0 15px;
    }

    button {
        border-radius: 0px 40px 40px 0px;
        border: none;
        background-color: $main-color;
        color: $white;
        padding: 0 20px;
    }

    .iconBox {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    nav {
        color: $white;
        display: flex;
        gap: 10px;

    }

    nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        position:relative;
    }

}